body { 
    display: flex;
    align-items: flex-start;
}

.blue {
padding: 100px;
background: rgb(87, 87, 177);
}

.yo {
    padding: 100px;
    margin: 10px;
    background-color: yellow;
}

.flex {
    display: flex;
}

.red {
    padding-right: 320;
background-color: red;
}

.green {
    padding-bottom: 320px;
    background-color: greenyellow;
}