body { 
    display: flex;
    align-items: flex-start;
}

.blue {
padding: 100px;
background: rgb(87, 87, 177);
}

.yo {
    padding: 40px;
    margin: 10px;
    background-color: yellow;
}

.flex {
    display: flex;
}

.red {
padding-right: 140px;
background-color: red;
}

.green {
    padding-bottom: 200px;
    background-color: greenyellow;
}

.green2 {
    padding-bottom: 330px;
    background-color: yellow;
}

.blue{
    padding-left: 100px;
}